{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новый блог</title>
</head>
<body>
<div>
    {% if blog %}
        <form action="{% url 'update_blog' blog.id %}" method="post">
        {% csrf_token %}
        <label for="title"></label>
        <input type="text" name="title" value="{{ blog.title }}" id="title">
        <label for="text"></label>
        <input type="text" name="text" value="{{ blog.text }}" id="text">
        <input type="submit" value="Добавить">
    </form>
    {% else %}
    <form action="{% url 'add_blog' %}" method="post">
        {% csrf_token %}
        <label for="title"></label>
        <input type="text" name="title" id="title">
        <label for="text"></label>
        <input type="text" name="text" id="text">
        <input type="submit" value="Добавить">
    </form>
    {% endif %}
</div>
</body>
</html>